[Unit]
Description=AngleFinder
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/opencv_AngleFinder_pi.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target